/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Raleway:wght@300;400;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

/* STYLE MENU STARTS */
body{
    height: 70vh;
    background-color: #000;
    background-image: url(../assets/images/obelisco.jpg);
    background-size: cover;
    background-position: center;
}

li{
    list-style: none;
}

a{
    background-color: #b7b4c7;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

a:hover{
    color:aquamarine
}

/*HEADER*/
header{
    position: relative;
    padding: 0 4rem;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: #b7b4c7;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover{
    scale: 1.05;
    color: #fff;
}

.action_btn:active{
    scale: 0.95;
}

/* MENU RESPONSIVE */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* HERO */
section#hero{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: antiquewhite;
}

/* h1 size */
#hero h1{
    font-size: 3rem;
    margin-bottom: 1rem
}

/* h1 color */
h1{
    color: #fff;
}


/* STYLE MENU ENDS */

.container{
    width: 100%;
    margin: auto;
    width: 65px;
    border-radius: 50px 50% 50% 50%;
    display: flex;
    justify-content: space-around;
    }
    

.img-1{
    position: relative;
    top: -125px;
    width: 100px;
    height: 52px;
}

.img-2{
    position: relative;
    top: -125px;
    width: 100px;
    height: 52px;
}

.img-3{
    position: relative;
    top: -125px;
    width: 100px;
    height: 52px;
}

.img-4{
    position: relative;
    top: -125px;
    width: 100px;
    height: 52px;
}

.img-5{
    position: relative;
    top: -125px;
    width: 100px;
    height: 52px;
}

.img-6{
    position: relative;
    top: -125px;
    width: 100px;
    height: 52px;
}



 /* footer color */
footer h4{
    color: antiquewhite;
    background-color: rgb(rgb(150, 104, 104), green, blue)
}






/* RESPONSIVE */
@media (max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}

@media (max-width: 576px) {
.dropdown_menu{
    left: 2rem;
    width: unset;
}
}

@media (max-width: 576px){
    .container{
        left: 2rem;
        width: unset;
    }
}